<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>About Us</title>
  <link rel="stylesheet" href="/css/home.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>
<body>

  <header class="navbar">
    <div class="logo">
      <img src="/images/logo.png" alt="Logo" />
    </div>
    <nav class="nav-links">
      <a href="/">Home</a>
      <a href="/collection">Collection</a>
      <a href="/addanime">Add Anime</a>
      <a href="/logout">Logout</a>
    </nav>
  </header>

  <main class="main-content">
    <div class="top-img">
      <img src="/images/3.png" alt="Top Characters" />
    </div>

    <div class="bottom-section">
    <div class="bottom-img">
    <img src="/images/4.png" alt="Bottom Character" />
    </div>

  <div class="about-text">
    <h1>ABOUT US</h1>
    <p>
      Animi collection serves as an internet-based application which lets its users effectively maintain personal anime watchlists in a secure online format. Many students and youth nowadays watch numerous anime series and movies yet struggle to remember and play what contents they have seen or intend to see. Through its secure platform users can implement a system to create accounts while managing structured anime lists between current watches and past viewers and upcoming plan.
    </p>
  </div>
  </div>
  </main>

</body>
</html>
