<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Anime Collection</title>
  <link rel="stylesheet" href="css/landing.css" />
</head>
<body>
  <div class="navbar">
    <div class="logo">
      <img src="images/logo.png" alt="Anime Logo" />
    </div>
    <div class="nav-links">
      <button class="login-btn"><a href="/login">Login</a></button>
      <button class="signup-btn"><a href="/Signup">Signup</a></button>
    </div>
  </div>

  <div class="welcome-text">
    <h1>welcome to anime<br>collection</h1>
  </div>

  <div class="monitor-images">
    <img src="images/2.png" alt="Tokyo Revengers" class="monitor monitor-left" />
    <img src="images/1.png" alt="Onne Piece" class="monitor monitor-right" />
  </div>
</body>
</html>
