<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body class="auth-body">
  <div class="auth-card">
    <h2>Anime</h2>
    <form action="/login" method="POST">
      <input type="email" name="email" placeholder="Enter email address" required />
      <input type="password" name="password" placeholder="Enter password" required />
      <button type="submit"><a href="/home">Login</a></button>
      <p class="switch-link">Don't have an account? <a href="/signup">Sign up</a></p>
    </form>
  </div>
</body>
</html>
