.auth-body {
  background: linear-gradient(to right, #0f2027, #203a43, #6b91a1);
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0; /* add margin 0 to avoid default */
}

.auth-card {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  width: 350px;
  text-align: center;
}

.auth-card input {
  width: 100%;
  padding: 0.8rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.auth-card button {
  width: 100%;
  padding: 0.8rem;
  background: linear-gradient(to right, #9e5ea0, #c297c4);
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
  font-size: 1rem;
}

.auth-card button:hover {
  background-color: #5b21b6;
}

.switch-link {
  margin-top: 1rem;
  font-size: 0.9rem;
}
